body {
    background-color: pink;
    background-size: cover;
    background-position: top;
    justify-content: center;
    align-items: center;
}
main {
    font-family: Arial, Helvetica, sans-serif ;
    padding: 25px, 0px, 0px, 0px;
    box-shadow: none;
    border-radius: var(--border-redondo);
}
h1 {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 50px;
    text-align: center;
    color: rgb(145, 66, 66);
}
h2 {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 30px;
    text-align: center;
    color: rgb(145, 66, 66);
}
.mensaje, .mensajes, .mensajes2, .mensaje3 {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 30px;
    text-align: center;
    color: rgb(90, 36, 36);
    box-sizing: content-box;
}
label {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 20px;
    text-align: center;
    color: rgb(90, 36, 36);
}
div {
    text-align: center;
}
textarea {
    height: 6px;
    width: 400px;
    align-items: center;
    resize: none;
}
button {
    padding: 30px, 60px, 0px, 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    color: palevioletred;
    text-align: center;
}
input {
    padding: 30px, 60px, 0px, 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    color: palevioletred;
    text-align: center;
}
section {
    background-color: rgb(235, 173, 183) ;
    margin-left: 8px;
    margin-right: 8px;
}

